<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:insert="templateforall :: head"></head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- Header section -->
	<header th:insert="templateforall :: header"></header>
	<!-- Header section end -->


	<!-- Page info section -->
	<section class="page-top-info set-bg" data-setbg="img/page-top-bg/1.jpg">
		<div class="ptf-center">
			<div class="container">
				<h2>About us</h2>
			</div>
		</div>
	</section>
	<!-- Page info section end -->


	<!-- Intro section -->
	<section class="inter-section spad">
		<div class="container">
			<div class="section-title">
				<h2>About us</h2>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p>Our company specializes in the sale of high-quality used furniture at affordable prices. We believe that everyone should have access to stylish and functional furniture without having to break the bank. That's why we carefully curate our inventory to offer a wide variety of items, from sofas and beds to dining sets and office furniture.</p>
				</div>
				<div class="col-md-6">
					<p>We take pride in our commitment to sustainability and eco-friendliness. By giving pre-owned furniture a second life, we are helping to reduce waste and promote a more sustainable future. All of our items are thoroughly inspected and cleaned before they go on sale, so you can be sure you're getting a great deal on a piece of furniture that's both stylish and durable. Plus, our knowledgeable staff is always on hand to answer any questions you may have and help you find the perfect piece for your needs. Come visit us today and see why we're the go-to destination for quality used furniture.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->

	<!-- Footer section -->
	<footer th:insert="templateforall :: footer"></footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/main.js"></script>


	<!-- load for map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
	<script src="js/map.js"></script>

	
    </body>
</html>