<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:insert="templateforall :: head"></head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header th:insert="templateforall :: header"></header>
	<!-- Header section end -->


	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/slider/slider-1.jpg">
			</div>
			<div class="hs-item set-bg" data-setbg="img/slider/slider-2.jpg">
			</div>
			<div class="hs-item set-bg" data-setbg="img/slider/slider-3.jpg">
			</div>
		</div>
	</section>
	<!-- Hero section end -->



	<!-- Intro section -->
	<section class="inter-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Welcome</h2>
			</div>
			<div class="row">
				<div class="col-md-4 intro-item">
					<h3>Quality Furniture at Affordable Prices</h3>
					<p>At our store, we pride ourselves on offering high-quality used furniture at prices that won't break the bank. Our inventory is constantly changing, so you never know what hidden gems you might find. Whether you're looking for a new-to-you sofa, bed, or dining table, we have something for everyone. </p>
				</div>
				<div class="col-md-4 intro-item">
					<h3>Sustainable Shopping for a Better World</h3>
					<p>Shopping for used furniture is not only a great way to save money, but it's also an eco-friendly choice. By giving pre-owned furniture a second life, we're helping to reduce waste and minimize our impact on the environment. Plus, it's a great feeling to know that you're making a positive difference with your purchase.</p>
				</div>
				<div class="col-md-4 intro-item">
					<h3>Exceptional Customer Service</h3>
					<p>At our store, we believe that exceptional customer service is the key to our success. Our knowledgeable staff is always on hand to answer any questions you may have and help you find the perfect piece of furniture for your needs. We also offer convenient delivery and pickup options to make your shopping experience as easy as possible. Come visit us today and see for yourself why we're the go-to destination for quality used furniture. </p>
				</div>
			</div>
			<div class="text-center">
				<img src="img/iso.png" alt="">
			</div>
		</div>
	</section>
	<!-- Intro section end -->



	<!-- Customer Reviews section -->
	<section class="testimonials-section spad pb-0 set-bg" data-setbg="img/review-bg.jpg">
		<div class="container">
			<div class="section-title text-white">
				<h2>Customer Reviews</h2>
			</div>
			<div class="testimonials-slider owl-carousel">
				<div class="ts-item text-white">
					<div class="quota">“</div>
					<p>I recently purchased a used sofa from this furniture store and I couldn't be happier with my purchase! The sofa looks and feels brand new, and the price was unbeatable. The staff was also very helpful and made the whole process a breeze. I will definitely be coming back here for any future furniture needs. </p>
					<h6><span>Julia Miller</span>, Client</h6>
				</div>
				<div class="ts-item text-white">
					<div class="quota">“</div>
					<p>I was a bit hesitant to buy a used bed, but I needed one in a pinch and didn't have the budget for a new one. I found a great deal at this store and decided to take a chance. I'm so glad I did! The bed is in great condition and is surprisingly comfortable. The staff was also very knowledgeable and answered all my questions. I would definitely recommend this place to anyone looking for quality used furniture. </p>
					<h6><span>Thomas Johnson</span>, Client</h6>
				</div>
				<div class="ts-item text-white">
					<div class="quota">“</div>
					<p>I've been searching for a used dining table for months and finally found the perfect one at this store. The table was in great condition and the price was very reasonable. The staff was also very accommodating and helped me load the table into my car. Overall, a great experience and I will definitely be back for more furniture in the future. </p>
					<h6><span>Rachel Lee</span>, Client</h6>
				</div>
			</div>
		</div>
	</section>
	<!-- Customer Reviews section end -->



	<!-- Services section -->
	<section class="services-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Our Products</h2>
			</div>
			<div class="row services">
				<div class="col-lg-3 col-md-6 service-item">
					<i class="flaticon-005-coffee-1"></i>
					<h3>Tables</h3>
					<p>Our used tables come in a variety of styles and sizes to fit any home or office. From elegant dining tables to functional work desks, we have something for everyone. All of our tables are inspected for quality and durability to ensure they will provide years of use.</p>
				</div>
				<div class="col-lg-3 col-md-6 service-item">
					<i class="flaticon-016-pancake"></i>
					<h3>Chair</h3>
					<p>Whether you're looking for a comfortable armchair or a sturdy office chair, we have a wide selection of used chairs to choose from. Our chairs are all carefully inspected and cleaned before they go on sale, so you can be sure you're getting a great deal on a high-quality piece of furniture.</p>
				</div>
				<div class="col-lg-3 col-md-6 service-item">
					<i class="flaticon-008-soup"></i>
					<h3>Sofas</h3>
					<p>Our used sofas are a great way to add comfort and style to your home without breaking the bank. From cozy loveseats to spacious sectionals, we have a wide variety of options to choose from. All of our sofas are thoroughly inspected for any wear and tear and are professionally cleaned before they go on sale.</p>
				</div>
				<div class="col-lg-3 col-md-6 service-item">
					<i class="flaticon-032-hamburger"></i>
					<h3>Nightstands</h3>
					<p>A used nightstand is a great way to add storage and style to your bedroom. Our selection includes a range of styles and finishes to match any decor. All of our nightstands are carefully inspected to ensure they are in great condition and ready for use.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->

	<!-- Footer section -->
	<footer th:insert="templateforall :: footer"></footer>
	<!-- Footer section end -->



	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/main.js"></script>


	<!-- load for map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
	<script src="js/map.js"></script>

    </body>
</html>