<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:insert="templateforall :: head"></head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- Header section -->
	<header th:insert="templateforall :: header"></header>
	<!-- Header section end -->


	<!-- Page info section -->
	<section class="page-top-info set-bg" data-setbg="img/review-bg.jpg">
		<div class="ptf-center">
			<div class="container">
				<h2>Used furniture</h2>
			</div>
		</div>
	</section>
	<!-- Page info section end -->


	<!-- Menu section -->
	<section class="mp-menu-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Our Products</h2>
			</div>
			<ul class="mp-menu-tab-nav nav nav-tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">
						<div class="mpm-text">
							<p><img src="img/smallpic/table.jpg"></p>
							<h5>Tables</h5>
							<p>Superb tables, expertly crafted from natural wood.</p>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">
						<div class="mpm-text">
							<p><img src="img/smallpic/dining.jpg"></p>
							<h5>Chairs</h5>
							<p>Refined and comfortable chairs made of durable materials and upholstered in soft fabric.</p>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">
						<div class="mpm-text">
							<p><img src="img/smallpic/sofa.jpg"></p>
							<h5>Sofas</h5>
							<p>Comfortable and refined sofas, with upholstered cushions and an elegant shape.</p>
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">
						<div class="mpm-text">
							<p><img src="img/smallpic/nightstand.jpg"></p>
							<h5>Nightstands</h5>
							<p>Beautiful and functional nightstands, with an exquisite design, give comfort and practicality.</p>
						</div>
					</a>
				</li>
			</ul>
			<div class="tab-content menu-tab-content">
				<!-- single tab content -->
				<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
					<div class="row menu-dark">
						<div class="col-lg-6 col-lg-6my" th:each="meal : ${mealsbreakfast}" th:href="${meal.name}" onclick="document.getElementById(this.getAttribute('href')).submit();">
							<form th:id="${meal.name}" method="post">
								<div class="menu-item">
									<div class="addbutton">
										<h5 th:text="${meal.name}"/>
										<input type="hidden" name="name" th:value="${meal.name}">
<!--										<button type="submit">+</button>-->
									</div>
									<div class="mi-meta">
										<p th:text="${meal.description}"/>
										<div class="menu-price" th:text="${meal.price} + ' ₽'"/>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- single tab content -->
				<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
						<div class="row menu-dark">
							<div class="col-lg-6 col-lg-6my" th:each="meal : ${mealsbrunch}" th:href="${meal.name}" onclick="document.getElementById(this.getAttribute('href')).submit();">
								<form th:id="${meal.name}" method="post">
									<div class="menu-item">
										<div class="addbutton">
											<h5 th:text="${meal.name}"/>
											<input type="hidden" name="name" th:value="${meal.name}">
											<!--										<button type="submit">+</button>-->
										</div>
										<div class="mi-meta">
											<p th:text="${meal.description}"/>
											<div class="menu-price" th:text="${meal.price} + ' ₽'"/>
										</div>
									</div>
								</form>
							</div>
						</div>
				</div>
				<!-- single tab content -->
				<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
					<div class="row menu-dark">
						<div class="col-lg-6 col-lg-6my" th:each="meal : ${mealslunch}" th:href="${meal.name}" onclick="document.getElementById(this.getAttribute('href')).submit();">
							<form th:id="${meal.name}" method="post">
								<div class="menu-item">
									<div class="addbutton">
										<h5 th:text="${meal.name}"/>
										<input type="hidden" name="name" th:value="${meal.name}">
										<!--										<button type="submit">+</button>-->
									</div>
									<div class="mi-meta">
										<p th:text="${meal.description}"/>
										<div class="menu-price" th:text="${meal.price} + ' ₽'"/>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- single tab content -->
				<div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab-4">
					<div class="row menu-dark">
						<div class="col-lg-6 col-lg-6my" th:each="meal : ${mealsdinner}" th:href="${meal.name}" onclick="document.getElementById(this.getAttribute('href')).submit();">
							<form th:id="${meal.name}" method="post">
								<div class="menu-item">
									<div class="addbutton">
										<h5 th:text="${meal.name}"/>
										<input type="hidden" name="name" th:value="${meal.name}">
										<!--										<button type="submit">+</button>-->
									</div>
									<div class="mi-meta">
										<p th:text="${meal.description}"/>
										<div class="menu-price" th:text="${meal.price} + ' ₽'"/>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Menu section end -->
	

	<!-- Footer section -->
	<footer th:insert="templateforall :: footer"></footer>
	<!-- Footer section end -->
	<script>
		function sbmt(id) {
			console.log("'" + toString(id) + "'")
			document.getElementById("'" + id + "'").submit();
		}
	</script>
	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/main.js"></script>


	<!-- load for map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
	<script src="js/map.js"></script>
	
    </body>
</html>